
<h1 class="nama">
  Welcome, {{user?.namaDepan}} {{user?.namaBelakang}}
</h1>
<p class="akses">
  Masuk sebagai {{user?.namaAkses}}
</p>
<section>
  <div class="container">
    <div class="section section-25">
      <img src="https://cdn3d.iconscout.com/3d/premium/thumb/restaurant-6016938-4973484.png?f=webp" alt="Image 1" class="img">
    </div>
    <div class="section section-50">
      <h1>RestAu.</h1>
      <p>Solusi terdepan untuk restoran modern!</p>
      <button (click)="scrollToId('menulist')" class="button">Mulai Gunakan!</button>
    </div>
    <div class="section section-25">
      <img src="https://cdn3d.iconscout.com/3d/premium/thumb/restaurant-6843937-5603506.png?f=webp" alt="Image 2" class="img">
    </div>
  </div>

</section>
