#jenis-menu{
  background-color: #F5F7FA;
}

.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

section{
  height: 100vh;
}

.search-input {
  max-width: 300px;
}


.avail{
  color: green;
  font-weight: bold;
}

.img-fluid {
  margin: 10px 0;
}

.card-img {
  width: 250px;
  height: 250px;
  margin: 10px auto;

}

.btn-primary{
  margin-right: 10px;
}

.not-avail{
  color: red;
  font-weight: bold;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 80%;
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 0 10px;
}

.pagination-controls button[disabled] {
  background-color: #ccc;
}

.pagination-controls span {
  align-self: center;
  margin: 0 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.empty-state {
  width: 750px;
  margin: 40px auto;
  /* background: #ffffff; */
  /* box-shadow: 1px 2px 10px #e1e3ec; */
  border-radius: 4px;
  height: 75px;
}

.empty-state__content {
  padding: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empty-state__icon {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  /* background-color: #f7fafc; */
  box-shadow: 0px 2px 1px #e1e3ec;
}

.empty-state__icon img {
  width: 170px;
}

.empty-state__message {
  color: #38a169;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0.85rem;
}

.empty-state__help {
  color: #a2a5b9;
  font-size: 1rem;
}

